name: Hugo Deploy

on:
  push:
    branches:
      - hugo-src

jobs:
  build-deploy:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: latest
      - name: Build
        run: hugo --minify
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with: 
          personal_token: ${{ secrets.ACTION_DEPLOY_KEY }}
          publish_branch: main
          publish_dir: ./public
          commit_message: ${{ github.event.head_commit.message }}
